---
layout: default
title: People
---
<div class="container team">
    <div class="section contributors">
        <h2>People</h2>
        <div class="row g-3">
            {% for colaborator in site.data.collaborators %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="contributors card" data-index="{{colaborator.index}}">
                    <img src="{{colaborator.image}}" alt="profile photo" class="profile photo card-img-top">
                    <div id="colaborator-{{colaborator.index}}" class="card-body d-none">
                        <h5 class="card-title">
                          <span class="network">
                              {% for network in colaborator.network %}
                                  {% if network.name=="linkedin" %}
                                    <span> <a href="{{network.link}}" target="_blank"> {% include icons/linkedin.svg %}</a></span>
                                  {% endif %}
                              {% endfor %}
                          </span>
                          {{colaborator.name}}
                        </h5>
                        <p class="card-text">{{colaborator.position}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="section">
        <h3>Want to make a difference? Collaborate with us!</h3>
        <p>If you are interested fill the form below and we will get in touch with you. We look for colaborator who could help organize events, find speakers, moderate talks and many other activities.</p>
        <p class="mt-4 d-flex justify-content-center">
            <a href="https://wwcode.typeform.com/volunteer" target="_blank" class="btn btn-primary">Become a volunteer</a>
        </p>
    </div>
</div>
