<div class="search">
    <form class="form-inline mentor-filter">
        <div class="form-group mx-sm-1">
          <input class="form-control" type="text" placeholder="Keywordst">
        </div>
        <div class="form-group mx-sm-1">
          <label for="experience" class="sr-only">Password</label>
          <select class="form-control" id="experience">
                <option>Experience in Tech</option>
                <option value="1">0-1 year</option>
                <option value="2">1-2 years</option>
                <option value="3">2-4 years</option>
                <option value="4">4-5 years</option>
                <option value="5">5-7 years</option>
                <option value="6">7-10 years</option>
                <option value="7">10-15 years</option> 
                <option value="8">16+ years</option>
            </select>
        </div>
        <div class="form-group mx-sm-1">
            <label for="area" class="sr-only">Skills</label>
            <select class="form-control area" id="area">
                <option>Area in tech</option>
                  <option value="1">QA</option>
                  <option value="2">Backend Developer</option>
                  <option value="3">Frontend Developer</option>
                  <option value="4">Fullstack Developer</option>
                  <option value="5">DevOps</option>
                  <option value="6">Distributed Systems</option>
                  <option value="7">Data Science</option>
                  <option value="8">Data Engineering</option>
                  <option value="9">Android</option>
                  <option value="10">iOS</option>
                  <option value="11">Business Analysis</option>
                  <option value="12">Product Management</option>
                  <option value="13">Project Management</option>
                  <option value="14">Machine Learning</option>
                  <option value="15">Engineering management</option>
              </select>
          </div>
          <div class="form-group mx-sm-1">
            <label for="focus" class="sr-only">I can help mentees to grow in</label>
            <select class="form-control focus" id="focus">
                <option>Mentee Focus</option>
                  <option value="1">Switch career to IT</option>
                  <option value="2">Grow from beginner to mid-level</option>
                  <option value="3">Grow from mid-level to senior-level</option>
                  <option value="4">Grow beyond senior level</option>
                  <option value="5">Switch from IC to management position</option>
                  <option value="6">Change specialisation within IT</option>
              </select>
          </div>
          <!-- <div class="form-group mx-sm-1">
            <button type="submit" class="btn btn-primary mb-2">Search</button>
          </div> -->
      </form>
    </div>
</div>